#navi{
    color:rgb(0, 17, 253);
    background-color: aliceblue;
    padding: 0%;
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    height: 80px;
    font-size: 22px;
    }

    h1{
        font-size: larger;
    }

    #Url{
        padding-top: 100px;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 0, 0) ;
        /* margin-right: 15px; */
    }
    
    #url{
        border-style: solid;
        border-color: black;
        border-width:2px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
    }

    #btn{
    background-color: rgb(64, 12, 253) ;
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-color:rgb(100, 100, 254) ;
    cursor: pointer;
    }
    fieldset{
        left: 350px;
        top: 180px;
        align-items: center;
        height: 300px;
        width: 750px;
        position: relative;
        border-color:rgb(0, 0, 0) ;
        border-style: solid;
        border-width: 5px;
        padding: 0;
        
    }
   
        

